
/* Need to add font */


/* Globals */
* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

p {
  margin: 0.75rem 0;
}

#border-right {
  border-right: 1px solid #dadada;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.text-center {
  text-align: center;
}

.large-heading {
  font-size: 4rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.medium-heading {
  font-size: 2rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.lead {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.py-1 {padding: 1.5rem 0;}
.py-2 {padding: 2rem 0;}
.py-3 {padding: 3rem 0;}

.btn {
  display: inline-block;
  color: #fff;
  background-color: #444;
  padding: 0.5rem 1.2rem;
  border: none;
  border-radius: 20px;
  font-size: 1.1rem;
}

.btn:hover {
  background-color: #333;
}

.btn-dark {
  background: #333;
  color: #fff;
}

.text-primary {
  color: #08ffc8;
}

/* Navbar */
#navbar {
  display: flex;
  position: sticky;
  top: 0;
  background-color: #204969;
  color: #fff;
  justify-content: space-around;
  z-index: 1;
  padding: 1rem;
}

#navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
}

#navbar ul li a {
  color: #fff;
  padding: 1rem 1.4rem;
  padding-top: 100%;
  border-left: 1px solid #dadada;
}

#navbar ul li a:hover {
  background-color: #444;
}

/* Showcase */

#showcase {
  background: #333 url(../images/background.jpg) no-repeat center center/cover;
  background-attachment: fixed;
  height: 100vh;
  color: #fff;
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Section: About me */

#info {
  display: flex;
  padding: 1rem;
  height: 50vh;
  background-color: #f4f4f4;
  justify-content: space-around;
}

/* Section: Projects */

.projects {
  display: flex;
  padding: 1rem;
  flex-wrap: wrap;
}

.project {
  flex: 1;
  text-align: center;
  padding: 2rem;
  flex-basis: 25%;
  border: 1px solid #333;
  border-radius: 10px;
  margin: 0.25rem;
}


/* This will be for the Project image */

/* .info .projects .projects img {
  margin-bottom: 1rem;
} */