
/* Need to add font */


/* Globals */
* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

p {
  margin: 0.75rem 0;
}

#border-right {
  border-right: 1px solid #6b778d;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.text-center {
  text-align: center;
}

.large-heading {
  font-size: 4rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.medium-heading {
  font-size: 2rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.lead {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.py-1 {padding: 1.5rem 0;}
.py-2 {padding: 2rem 0;}
.py-3 {padding: 3rem 0;}

.btn {
  display: inline-block;
  color: #fff;
  background-color: #ff6768;
  padding: 0.5rem 1.2rem;
  border: none;
  border-radius: 20px;
  font-size: 1.1rem;
}

.btn:hover {
  background-color: #6b778d;
}

.btn-dark {
  background: #333;
  color: #fff;
}

.text-primary {
  color: #ff6768;
}

/* Navbar */
#navbar {
  display: flex;
  position: sticky;
  top: 0;
  background-color: #263859;
  color: #fff;
  justify-content: space-around;
  z-index: 1;
  padding: 1rem;
}

#navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
}

#navbar ul li a {
  color: #fff;
  padding: 1rem 1.4rem;
  padding-top: 100%;
  border-left: 1px solid #6b778d;
}

#navbar ul li a:hover {
  background-color: #17223b;
}

/* Showcase */

#showcase {
  background: #333 url(../images/background.jpg) no-repeat center center/cover;
  background-attachment: fixed;
  height: 100vh;
  color: #fff;
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Section: About me */

#info {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  height: 50vh;
  background-color: #ff6768;
  color: #fff;
  justify-content: space-around;
}

#info #profile-info {
  flex-basis: 30%;
}

#info #profile-info p {
  line-height: 1.5;
  font-size: 1.2rem;
  color: #444;
}

#info #profile-info #contact a {
  display: block;
  color: #fff;
  margin: 1.2rem 0;
}

#info #skills {
  flex-basis: 30%;
}

/* Section: Projects */

.projects {
  display: flex;
  padding: 1rem;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.project {
  flex: 1;
  text-align: center;
  padding: 1rem;
  flex-basis: 25%;
  border: 1px solid #333;
  border-radius: 10px;
  margin: 0.25rem;
}

.projects .project img {
  border-radius: 4px;
  border: 1px solid #ddd;
  width: 300px;
}

.projects .project .project-link {
  margin: 1.3rem 0;
  display: block;
  color: #333;
  font-size: 1.1rem;
}

.projects .project h3 {
  font-size: 1.4rem;
}

@media only screen and (max-width: 769px) {


  #navbar {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  #navbar ul {
    justify-content: center;
    margin-top: 2rem;
  }

  #navbar ul li a {
    border: none;
    margin: 0 1.3rem;
  }

  #info {
    height: 75vh;
    justify-content: space-between;
  }

  #info #profile-info {
    flex-basis: 100%;
  }

  #info #profile-info #contact a {
    display: inline-block;
    color: #fff;
    margin: 1.2rem 1.5rem;
  }
}

@media only screen and (max-width: 1200px) {

  #info #profile-info #contact a {
    display: inline-block;
    color: #fff;
    margin: 1.2rem 1.5rem;
  }
}